<!DOCTYPE html>
<html>

<head>
    <title>Location Tracker</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="image">
        <img src="../static/images/tracker-app-blog-ft.jpg" class="image" width="100%" alt="">
    </div>

    <h1 class="bo">{{ box }}</h1><br><br>
    <h1 class="ba">{{ bag }}</h1><br><br>
    <!-- <h1 class="pen">{{ pen }}</h1><br><br> -->
    <h2 class="para">Locate Any Phone Number Instantly</h2>

    <form method="post">
        <input type="text" placeholder="Enter number with country code" class="txt" name="Number">
        <input type="submit" class="sub">
    </form>
</body>

</html>